@import "../abstract/mixins";
@import "../abstract/variables";

.main-footer {
    @include display-flex (space-between);
    align-items: flex-start;
    background-color: $color-dark-grey;
    color: $color-medium-grey;
    /*justify-content: space-between;*/
    padding: $padding-m $padding-l 140px $padding-l;
    .logo-footer {
        width: 18%;
    }
    h6 {
        color: $color-light-grey1;
        font-size: 12px;
        margin-top: 0;
    }
}

