//FONTS//
$font-family: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;
$font-weight-extrabold: 700;

//COLORS//
$color-white: #ffffff;
$color-light-grey1: #f0f4f7; //background only?//
$color-light-grey2: #d3d8de;
$color-medium-grey: #b5b9bf;
$color-dark-grey: #324357;
$color-pale-blue1: #54a8fd;
$color-pale-blue2:  #7db6e9; //icono hired//
$color-green: #57d48e;

//SPACING//
$padding-l: 80px;
$padding-m: 40px;
$padding-s: 20px;
$box-sizing: border-box;
$margin-l: 80px;
$margin-m: 40px;
$margin-s: 20px;
$margin-xs: 10px;

//BORDERS//
$border-radius-round: 50%;
$border-radius-tag: 14px;
$border-radius-card: 3px;
$border: solid 1px $color-light-grey2;